.home-sections { 
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    text-align: center;
    border: 1px solid #ccc;
    padding: 8px 20px;
    margin: 16px auto;
    border-radius: 999px;
    background-color: #f9f9f9;
    font-size: 15px;
    // height: 20px;
    // padding: 4px 8px;
    // margin-bottom: 4px;
    // background-color: gray;
    // color: black;
    // border-radius: var(--border-10);
    // line-height: 10px;
  }
  h4 {
    font-weight: 500; 
    font-size: 40px;
    line-height: 46px;
    text-align: center;
  }
}

.particle-canvas {
  width: 100%;
  height: 100%;
}

.motto{
  min-height: calc(100dvh - 92.75px);
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-us-info {
  padding-right: 8%;
  min-height: 100dvh;
  h1 {
    font-size: 50px;
    color: black;
  }
  .desc {
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    text-align: justify;
  }
}

.slide {
  min-height: 100dvh;
  position: relative;
  border-radius: 30px;
  width: 400px;

  .ant-carousel {
    width: 100%;

    .slick-dots {
      display: none;
    }

    .slick-list {
      border-radius: 6px;
    }
  }
}

.slider-item {
  position: absolute;
  z-index: 1000;
  bottom: 0;

  h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: white;
  }

  h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    width: 320px;
    text-align: justify;
  }

  padding: 20px 40px;
}

@media (max-width: 500px) {
  .slide {
    display: none;
  }
}