@import './fonts.scss';
@import './variables.scss';
@import './pages/index.scss';
@import './components/index.scss';
@import './custom-antd.scss';
@import './pages/product/product-detail.scss';
@import './pages/product/product-list.scss';

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.ant-anchor-link {
  font-size: 22px;
}

.ant-anchor {
  padding: 30px;
}

.ant-anchor-link {
}

span {
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

input {
  font-size: 12px;
}

button:focus {
  outline: none !important;
}

.sw-primary-text {
  color: $primary-color;
}